header #my-logo {
  text-decoration: none;
  margin-left: 24px;
  font-size: 20px;
  color: #6070ff;
}

header #home {
  margin-left: 200px;
  margin-top: 63px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#intro {
  background: url("images/header-shapes-mobile.png") no-repeat;
  height: 558px;
}

#text {
  margin-left: 21px;
  margin-right: 24px;
  padding-top: 150px;
}

#text p {
  font-weight: 400;
  font-size: 16px;
}

#text h3 {
  margin-top: 20px;
  font-weight: 500;
  color: #6070ff;
  font-size: 16px;
  text-transform: uppercase;
}

#contacts {
  display: flex;
  list-style-type: none;
  margin-left: -40px;
  width: 140px;
  justify-content: space-between;
}
