header #my-logo {
  text-decoration: none;
  margin-left: 24px;
  font-size: 20px;
  color: #6070ff;
  font-family: Arial, Helvetica, sans-serif;
}

header #home {
  margin-left: 200px;
  margin-top: 63px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#intro {
  background: url("images/header-shapes-mobile.png") no-repeat;
  height: 558px;
  margin-top: 200px;
  margin-left: 21px;
  margin-right: 24px;
}

#intro p {
  font-weight: 400;
  font-size: 16px;
}

#intro h3 {
  margin-top: 20px;
  font-weight: 500;
  color: #6070ff;
  font-size: 16px;
  text-transform: uppercase;
}
