header #my-logo {
  text-decoration: none;
  margin-top: 58px;
  margin-left: 21px;
  font-size: 20px;
  color: #6070FF;
  font: poppins;
}

body{
  background: url("images/header-shapes-mobile.png") no-repeat;
  height: 558px;
  font: poppins;
}

#intro{
  margin-top: 206px;
  margin-left: 21px;
}
